.common-tag {
  position: relative;
  transform: rotateZ(-15deg);
  opacity: 0;
  transition: 1s ease;
}

.test {
  height: 20rem;
  width: 100%;
  background: url("https://i.pinimg.com/originals/2c/84/5a/2c845a66b8ad2a8aafd288bdc16cd459.jpg");
  background-attachment: fixed;
  background-position: center;
}
